<h1>Edit Restaurant</h1>
<%= render 'form' %>
<%= link_to delete_restaurant_path(@restaurant), method: :delete, data: {confirm: "Are you sure you want to delete this restaurant?"} %>
<%= link_to 'Back', restaurants_path %>
