/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* BASE styles */

html {
  box-sizing: border-box;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  color: #333333;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: red;
}

nav li {
  float: left;
}

nav li:nth-last-child(-n+2) {
  float: right;
}

nav li a, nav li p {
  display: block;
  margin: 0;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}

header {
  height: 100px;
  width: 100%;
  line-height: 100px;
  background-color: #333;
}

header h1 {
  text-align: center;
  color: white;
  margin: 0;
}

main {
  width: 1000px;
  margin: auto;
  padding: 10px;
  overflow: hidden;
}

div.restaurant {
  width: 30%;
  height: 300px;
  margin: 10px;
  padding: 15px;
  padding-bottom: 0px;
  background: yellow;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  float:left;
  position: relative;
}

div.restaurant h1 {

}

div.restaurant a {
  text-decoration: none;
  color: black;
}

div.restaurant span {
  position: absolute;
  height: 30%;
  width: 275px;
  bottom:0;
  left:15px;
}
div#restaurantinfo {
  height: 300px;
  width: 60%;
  margin: 10px;
  padding: 15px;
  padding-bottom: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  float:left;
  position: relative;
}

div#restaurantinfo ul {
  list-style-type: none;
}

div#restaurantinfo li {
  margin-bottom: 5px;
}

div#restaurantinfo span {
  position: absolute;
  height: 30%;
  width: 275px;
  bottom:0;
  left:15px;
}

div#userinfo ul {
  list-style-type: none;
  padding: 0px;
}

div#userinfo li {
  margin-bottom: 5px;
}

span.title {
  overflow: hidden;
  display: block;
}

span.title a {
  float: right;
}

span.title h1 {
  float: left;
}

div.owned {
  width: 950px;
  margin: auto;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: yellow;
  float:left;
  margin-bottom: 20px;
}

div.owned h2 {
  margin: 0;
}

div.reservation {
  width: 950px;
  margin: auto;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: yellow;
  float:left;
  margin-bottom: 20px;
}
