/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* BASE styles */

html {
  box-sizing: border-box;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  color: #333333;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: red;
}

nav li {
  float: left;
}

nav li:nth-last-child(-n+2) {
  float: right;
}

nav li a, nav li p {
  display: block;
  margin: 0;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}

header {
  height: 100px;
  width: 100%;
  line-height: 100px;
  background-color: #333;
}

header h1 {
  text-align: center;
  color: white;
  margin: 0;
}

main {
  width: 900px;
  margin: auto;
}
